html {
  box-sizing: border-box;
  height: 100%;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font($font_regular);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2 {
  margin: 0;
}

footer {
  flex-shrink: 0;
}

.container {
  max-width: 1345px;
  padding: 0 47px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.black {
  @include font($font_black);
  font-size: 54px;
  line-height: 90%;
}

@include tablet {

  .container {
    padding: 0 36px;
  }
}

@include mobile {

  .container {
    padding: 0 20px;
  }
}