// Color
$color-orange: #FF9514;
$color-black: #111111;
$color-gray: #575757;

// Шрифты (названия в миксинах)
$font_regular: Giroy;
$font_bold: Giroy-b;
$font_black: Nekst-Black;

//Разрешения экранов
$desktop-width: 1440px;
$laptop-width: 1120px;
$tablet-width: 768px;
$mobile-width: 320px;